[submodule "logos1"]
	path = logos
	url = https://github.com/apollokz/logos1.git
[submodule "logos-orchestrator1"]
	path = logos-orchestrator
	url = https://github.com/apollokz/logos-orchestrator1.git
